In [1]:
# %pip install numpy
# %pip install pandas
# %pip install tensorflow
# %pip install sklearn

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
import unicodedata

# Vocabulary
### PHO (Potentially Hazardous Objects)
### BO (Benign Objects)  

# Data Sets
### - orbits.csv and impacts.csv, from https://www.kaggle.com/datasets/nasa/asteroid-impacts
### - orbits.csv $:=$ PHO $\cup$ BO
#### > - 15 features, 15635 orbits
### - impacts.csv $:=$ PHO
#### > - 11 different features, 683 PHO

In [3]:
orbits_df = pd.read_csv("orbits.csv", encoding = 'utf-8')
unicode_adjusted_names = {}
for asteroid_idx in orbits_df.index:
    unicode_adjusted_names[asteroid_idx] = unicodedata.normalize("NFKD", orbits_df.iloc[asteroid_idx]["Object Name"])
    
orbits_df["Object Name"] = unicode_adjusted_names.values()
orbits_df.head()

,Object Name,Object Classification,Epoch (TDB),Orbit Axis (AU),Orbit Eccentricity,Orbit Inclination (deg),Perihelion Argument (deg),Node Longitude (deg),Mean Anomoly (deg),Perihelion Distance (AU),Aphelion Distance (AU),Orbital Period (yr),Minimum Orbit Intersection Distance (AU),Orbital Reference,Asteroid Magnitude
0,433 Eros,Amor Asteroid,57800,1.4579,0.2226,10.8277,178.8050,304.3265,319.3111,1.1335,1.78,1.76,0.1492,598,11.16
1,719 Albert,Amor Asteroid,57800,2.6385,0.5479,11.5822,156.1409,183.9204,224.5535,1.1928,4.08,4.29,0.2004,78,15.50
2,887 Alinda,Amor Asteroid,57800,2.4787,0.5671,9.3561,350.3482,110.5444,351.3730,1.0731,3.88,3.90,0.0925,188,13.40
3,1036 Ganymed,Amor Asteroid,57800,2.6628,0.5338,26.6929,132.4690,215.5551,92.5640,1.2413,4.08,4.35,0.3421,597,9.45
4,1221 Amor,Amor Asteroid,57800,1.9191,0.4356,11.8795,26.6572,171.3448,313.7379,1.0832,2.76,2.66,0.1068,70,17.70

In [4]:
PHO_df = pd.read_csv("impacts.csv", encoding = 'utf-8')
PHO_df.head()

,Object Name,Period Start,Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity,Asteroid Magnitude,Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale,Maximum Torino Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31,0
1,2013 YB,2017,2046,23,7.600000e-05,8.98,31.4,0.002,-6.60,-6.96,0
2,2008 US,2017,2062,30,1.600000e-05,18.33,31.4,0.002,-6.48,-6.87,0
3,2010 VR139,2017,2076,24,2.000000e-07,4.99,26.7,0.016,-6.83,-6.95,0
4,2015 ME131,2017,2096,85,2.300000e-08,19.46,19.2,0.497,-3.85,-4.30,0

In [5]:
targets_dict = {}
all_PHO = impacts_df["Object Name"]
all_asteroids = orbits_df["Object Name"]

# Create correspondence between datasets, i.e. generate targets
for asteroid_idx in all_asteroids.index:
    # Initialize dictionary entry to zero
    targets_dict[all_asteroids[asteroid_idx]] = 0

    current_asteroid = all_asteroids[asteroid_idx].split()
    current_asteroid = [codename.replace("(", "").replace(")","") for codename in current_asteroid]

    for PHO_idx in all_PHO.index:
        current_PHO = all_PHO[PHO_idx]
        year_PHO = (current_PHO.split())[0]
        codename_PHO = (current_PHO.split())[1]
        if (year_PHO in current_asteroid) and (codename_PHO in current_asteroid):
            # If this PHO corresponds to an asteroid, change target 0 -> 1
            targets_dict[all_asteroids[asteroid_idx]] = 1
            
        # We have detected the correspondence for this asteroid. Move on
        continue

targets = pd.Series(targets_dict)

In [6]:
# Sanity check
print(len(all_PHO))
print(sum(targets))

print(len(targets))
print(len(all_asteroids))

683
679
15635
15635

In [7]:
# Following the 70/30 rule for training/validation
train_df, test_df = train_test_split(orbits_df, test_size=0.3)

train_df.head()

,Object Name,Object Classification,Epoch (TDB),Orbit Axis (AU),Orbit Eccentricity,Orbit Inclination (deg),Perihelion Argument (deg),Node Longitude (deg),Mean Anomoly (deg),Perihelion Distance (AU),Aphelion Distance (AU),Orbital Period (yr),Minimum Orbit Intersection Distance (AU),Orbital Reference,Asteroid Magnitude
1598,387505 (1998 KN3),Apollo Asteroid (Hazard),57800,1.5417,0.8737,2.2962,70.7635,313.6961,247.5435,0.1948,2.89,1.91,0.0180,48,18.5
15058,(2016 UC31),Aten Asteroid,57800,0.9551,0.1258,14.0068,319.2127,217.3629,343.3770,0.8349,1.08,0.93,0.0444,11,24.6
12899,(2015 QE),Apollo Asteroid,57252,1.0476,0.5614,13.9603,42.9954,140.0923,75.4329,0.4595,1.64,1.07,0.0624,2,23.1
9064,(2012 PM28),Apollo Asteroid,56155,1.8044,0.6729,9.6045,126.8554,309.9287,329.0755,0.5902,3.02,2.42,0.0957,7,22.8
1525,374158 (2004 UL),Apollo Asteroid (Hazard),57800,1.2664,0.9267,23.7837,149.5690,39.5765,182.6145,0.0928,2.44,1.43,0.0181,53,18.8

In [8]:
# Split the respective targets
train_targets = targets[train_df.index]
test_targets = targets[test_df.index]

In [ ]:
class_names = ["PHO", "BO"]